---
title: "THE THIRDS !!!"
date: "2024-10-17"
description: "This is another cool article."
tags: ["news", "bob"]
author: "Jacob Hart"
---

<script>
  import TestComponent from '$lib/components/TestComponent.svelte';  // Importing a custom component
</script>

# A thrid just in english

Blabla bla

[a test link](https://www.google.com/)


<TestComponent />