---
title: "Basic tutorial #01: Introduction & Overview"
date: "2025-05-12"
description: "Discover Arvest and all of the things that can be achieved in the tool."
tags: ["basics", "gui"]
author: "Jacob Hart"
image: "tutorials/basic-01/a01-thumb.png"
---

<script>
    import Youtube from '$lib/components/articles/Youtube.svelte';
</script>

# Basic tutorial #01: Introduction & Overview

<Youtube
    youtube_src = "W0DG4NhAepw"
    width = "75%"
/>